* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Roboto Condensed", monospace, sans-serif;
    background-color: #eee;
}

.container {
    margin: 0 auto;
    width: 600px;
    height: 100vh;

    background-color: #fff;
}

/* Header section */

header {
    margin: 0 auto;
    height: 167px;

    background-image: url(./images/image.png);
    background-size: cover;

    color: white;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-size: 39px;
}

#header-subtitle {
    font-size: 20px;
    font-weight: 300;
}

header, #menu-items{
    padding: 46px;
}

/* Menu items */

#menu-items {
    font-family: "Roboto Mono";
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu-item {
    border-bottom: 1px solid #d2d2d2;
    height: 120px;
    display: flex;
    gap: 20px;
    align-items: start;
}

.item-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-item {
    margin-left: auto;
    margin-top: 25px;

    width: 40px;
    height: 40px;

    border-radius: 50%;
    border: 1px solid #8b8b8b;

    color: #8b8b8b;
    background-color: #fff;

    font-family: "Roboto Mono";
    font-size: 30px;
    font-weight: 300;
    
}

.add-item:hover {
    color: #666;
    border: 1px solid #666;
    cursor: pointer;
}

.item-emoji {
    line-height: 70px;
    font-size: 70px;
}

.item-ingreds {
    color: #8b8b8b
}

/* Order cart */

#order-cart {
    padding: 0 48px 48px;
    background-color: #fff;
    border: 1px dotted red;
}

#cart-header {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}

.cart-item {
    display: flex;
    gap: 15px;
}

.remove {
    color: #8b8b8b;
}

.cart-item-price {
    margin-left: auto;
}

hr {
    border: 1px solid #000;
    margin: 15px 0;
}

#total-price-text {
    display: flex;
    justify-content: space-between;
}

#complete-order {
    margin-top: 40px;
    height: 60px;
    width: 100%;

    font-size: 16px;
    color: white;
    font-weight: bold;
    
    background-color: #16db99;
    border-radius: 8px;
    border: none;
}